.info {

    &__container {
        padding: 2.3%;
        background-color: #fff;
        color: $black;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.06);
    }

    &__title {
        margin-bottom: 28px;
        font-size: 2vw;
        color: #121212;
    }

    .account {
        display: flex;

        &__info {
            margin-right: 30px;
            width: 202px;
        }

        &__avatar {

            .img {
                display: block;
            }
        }

        &__edit {
            padding: 4% 0;
            background-color: $orange;
            text-align: center;
            color: #fff;
            font-size: 14px;
            text-transform: uppercase;
            cursor: pointer;

            .img {
                margin-right: 4px;
            }
        }

        &__status {
            margin-top: 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $black;
            font-size: 16px;

            .status {
                display: flex;
                align-items: center;

                .img {
                    margin-right: 8px;
                }
            }
        }

        &__form {
            flex: 1;

            .grid {
                margin-bottom: 28px;
                display: grid;
                grid-template-columns: repeat(3, 260px);
                grid-gap: 22px 18px;

                .form-group {
                    display: flex;
                    flex-direction: column;

                    .label {
                        margin-bottom: 6px;
                        opacity: .6;
                        font-weight: bold;
                        cursor: pointer;
                    }

                    .input {
                        opacity: .6;
                    }

                    .select-styled {
                        color: rgba($black, .6);
                        border-color: rgba($black, .6);
                    }

                    .select-options {
                        border-color: rgba($black, .6);
                        
                        li {
                            border-color: rgba($black, .6);
                            color: rgba($black, .6);

                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }

            .section-name {
                margin-bottom: 18px;
                font-size: 1.6vw;
                color: #121212;
            }

            &-btn {
                width: 260px;
            }
        }
    }
}