.header {
    margin-bottom: 45px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 1px 0 0 #d5d5d5;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        
    }

    &__actions {
        margin-left: auto;
        display: flex;
        align-items: center;
        
        .notification {

            &__img {
                cursor: pointer;
            }
        }

        .logout {
            margin-left: 18px;
            color: #b4b4b4;
            font-size: 14px;
            cursor: pointer;
        }
    }
}