.notification {

    &__dropdown {
        margin-top: 15px;
        min-width: 250px;
        // для отмены переноса текста min-width убрать и в item добавить white-space: nowrap;
        position: absolute;
        top: 100%;
        right: calc(100% - 20px);
        display: none;
        background-color: #fff;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.06);
        z-index: 200;

        &.active {
            display: block;
        }
    }

    &__item {
        padding: 12px;
        display: flex;
        align-items: center;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(#d8d8d8, .2);
        }

        &-icon {
            margin-right: 12px;
            min-height: 24px;
            min-width: 24px;
            background: url(../img/icons/verify.svg) no-repeat;
            background-size: cover;
        }

        &-text {
            @include font-raleway;
            font-size: 14px;
            color: $black;
            line-height: normal;
        }

        &.active {
            background-color: $purple;

            .notification__item-icon {
                background: url(../img/icons/verify-white.svg) no-repeat;
                background-size: cover;
            }

            .notification__item-text {
                color: #fff;
            }
        }
    }
}