.object {

    &__container {
        display: flex;
    }

    .sidebar {
        margin-right: 30px;
        width: 313px;

        &__account {
            margin-bottom: 18px;
            padding: 16px 30px 16px 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #fff;
            color: #121212;
            box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.06);

            .person {
                display: flex;
                align-items: center;

                &__avatar {
                    margin-right: 10px;
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.2);

                    img {
                        max-width: 100%;
                        border: solid 4px #fff;
                        border-radius: 50%;
                    }
                }

                &__name {
                    font-size: 16px;
                }
            }

            .settings {

                img {
                    cursor: pointer;
                }
            }
        }

        &__objects {
            padding: 18px 14px;
            height: 390px;
            background: #fff;
            color: #121212;
            box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.06);

            .top {
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__title {
                    font-size: 16px;
                }

                &__btn {
                    width: 150px;
                }
            }

            .images {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                &__item {
                    margin-bottom: 4%;
                    width: 48%;

                    img {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }

    .details {
        max-height: 500px;
        flex: 1;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.06);
        background-color: #fff;
        color: $black;
        overflow: auto;

        .grid {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            color: $black;
            border-bottom: solid 1px rgba(#d8d8d8, .3);

            &--header {
                @include font-futura;

                .grid-cell {
                    font-size: 16px;
                }
            }

            &--body {
                @include font-raleway;
            }

            &-cell {
                padding: 5px 10px;
                height: 50px;
                display: flex;
                align-items: center;
                font-size: 14px;

                &--info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .img {
                        width: 14px;
                        height: 25px;
                        cursor: pointer;
                    }
                }

                &:not(:last-child) {
                    border-right: solid 1px rgba(#d8d8d8, .3);
                }
            }
        }

        .archive {
            @include font-raleway;
            height: 40px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f7f7f7;
            font-size: 14px;
        }
    }

    .btn--trans {
        margin-top: 18px;
        width: 313px;
    }
}