.object {

    &__container {
        display: flex;
    }

    .info {
        padding: 25px 28px;
        flex: 1;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.06);
        background-color: #fff;
        color: $black;
        overflow: auto;

        .top {
            margin-bottom: 28px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                color: #121212;
                font-size: 1.5vw;
            }

            .close {
                color: $orange;
                font-size: 14px;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
        
        .middle-wrap {
            display: flex;
        }

        .info-list {
            margin-right: 20px;

            &__item {
                display: flex;
                align-items: center;
                font-size: 16px;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                .key {
                    margin-right: 20px;
                    width: 140px;
                    color: rgba($black, .6);
                    font-weight: bold;
                }

                .value {
                    @include font-raleway;
                    color: $black;
                }
            }
        }

        .obj-id {
            margin-left: auto;
            width: 260px;
            
            &__img {
                width: 100%;
                display: block;
            }

            &__text {
                padding: 4px 0;
                text-align: center;
                background: $orange;
                color: #fff;
                font-size: 14px;
            }
        }

        .descr {
            margin: 30px 0;
            font-size: 16px;

            &__title {
                margin-bottom: 6px;
                color: rgba(#121212, .6);
                font-weight: bold;
            }

            &__text {
                @include font-raleway;
                color: $black;
                line-height: 1.36;
            }
        }

        .btn {
            width: 150px;
        }
    }
}