*, *::before, *::after {
    box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
}
body {
    @include font-futura;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f9f9f9;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
.container {
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 1250px) {
        max-width: 1150px;
    }
}

.btn {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $orange !important;
    font-size: 13px;
    text-transform: uppercase;
    border: solid 2px $orange;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background-color: $orange;
        color: #fff !important;
    }

    &--fill {
        background-color: $orange;
        color: #fff !important;

        &:hover {
            background-color: transparent;
            color: $orange !important;
        }
    }

    &--disable {
        background: rgba(#afafaf, .4);
        color: rgba($black, .6) !important;
        border: none;

        &:hover {
            background-color: rgba(#afafaf, .4);
            color: rgba($black, .6) !important;
        }
    }
}

.popup_overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

.posr {position: relative;}

.tooltip {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    z-index: 99;
}

.tippy-tooltip {
    color: $black;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.1);
}
.tippy-content {
    @include font-raleway;
    padding: 14px;
    line-height: 1.3;
}

[data-tippy-content] {
    cursor: pointer;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    transition: all 1s;
}

.tippy-tooltip[data-placement^=right] .tippy-arrow {border-right-color: #fff;}
.tippy-tooltip[data-placement^=left] .tippy-arrow {border-left-color: #fff;}
.tippy-tooltip[data-placement^=bottom] .tippy-arrow {border-bottom-color: #fff;}
.tippy-tooltip[data-placement^=top] .tippy-arrow {border-top-color: #fff;}

.focus-element {
    position: relative;
    z-index: 1000;

    .label {
        opacity: 1 !important;
        color: #fff;
    }

    .input {
        opacity: 1 !important;
    }
}


@keyframes pulse {
    from {
        height: 23px;
        width: 23px;
    }

    50% {
        height: 30px;
        width: 30px;
    }

    to {
        height: 23px;
        width: 23px;
    }
}