@mixin font-futura-normal {
	font-family: 'FuturaNormal', sans-serif;
}

@mixin font-futura-bold {
	font-family: 'FuturaBold', sans-serif;
}

@mixin font-raleway {
  font-family: 'Raleway', sans-serif;
}

@font-face {
	font-family: 'FuturaBold';
	src: url('../fontsFuturaDemiC.eot');
	src: local('Futura Demi Cyrillic'), local('FuturaDemiC'),
		url('../fonts/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaDemiC.woff') format('woff'),
		url('../fonts/FuturaDemiC.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaNormal';
	src: url('../fontsFuturaMediumC.eot');
	src: local('Futura Medium Cyrillic'), local('FuturaMediumC'),
		url('../fontsFuturaMediumC.eot?#iefix') format('embedded-opentype'),
		url('../fontsFuturaMediumC.woff') format('woff'),
		url('../fontsFuturaMediumC.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}