@mixin font-futura {
	font-family: 'Futura', sans-serif;
}

@mixin font-raleway {
  font-family: 'Raleway', sans-serif;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaMediumC.eot');
    src: url('../fonts/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaMediumC.woff2') format('woff2'),
        url('../fonts/FuturaMediumC.woff') format('woff'),
        url('../fonts/FuturaMediumC.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}